<!-- Added in Step 3 -->
<div class="container">
  <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: green;">
    <a class="navbar-brand" href="#">My To Do's</a>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Checklist</a>
        <a class="nav-item nav-link" routerLink="all-tasks" routerLinkActive="active">All To Dos</a>
        <!-- Link added for Step 13 -->
        <a class="nav-item nav-link" routerLink="contact" routerLinkActive="active">Contact</a>
        <a class="nav-item nav-link" routerLink="about" routerLinkActive="active">About</a>
      </div>
    </div>
  </nav>
</div>
