<!-- Added in Step 3 -->
<div class="container">
  <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: green;">
    <a class="navbar-brand" href="#">My To Do's</a>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="todos">Checklist <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" routerLink="all-tasks">All To Dos</a>
        <!-- Link added for Step 13 -->
        <a class="nav-item nav-link" routerLink="contact">Contact</a>
        <!-- Added for Step 16 -->
        <a class="nav-item nav-link" routerLink="lifecyclecontainer">Lifecycle Demo</a>
        <a class="nav-item nav-link" routerLink="about">About</a>
      </div>
    </div>
  </nav>
</div>
