<!-- Added in Step 3 -->
<div class="container">
  <nav
    class="navbar navbar-expand-lg navbar-dark"
    style="background-color: green;"
  >
    <a class="navbar-brand" href="#">My To Do's</a>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink=""
          >Checklist <span class="sr-only">(current)</span></a
        >
        <a class="nav-item nav-link" routerLink="all-tasks">All To Dos</a>
        <a class="nav-item nav-link" routerLink="about">About</a>
      </div>
    </div>
  </nav>
</div>
