<!-- Added for Step 22 -->
<div class="container">
  <div class="app-login">
    <h4>Login:</h4>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="email">Email (required)</label>
            <input type="email" class="form-control" placeholder="Email" name="email" formControlName="email" />
          </div>
          <div class="form-group">
            <label for="password">Password (required)</label>
            <input type="password" class="form-control" placeholder="Password" name="password" formControlName="password" />
          </div>
          <button type="submit" class="btn btn-success btn-send">Log In</button>
        </div>
      </div>
    </form>
  </div>
</div>
